.wrapper{
    padding: 40px;
}
.gallery {
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        box-sizing: border-box;
}

.gallery__item {
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgb(255 255 255 / 40%);
    transition: transform 0.3s, box-shadow 0.3s;
}

.gallery__item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}